.list {
  border-width: 30px;
  border: 1px solid #b5b7c4;
  padding: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.star-button {
  background-color: transparent;
  border-width: 0px;
}
.name {
  color: #171f46;
  font-family: roboto;
  font-weight: bold;
}
.date {
  font-family: roboto;
  color: #b5b7c4;
}
